
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
        <h3>This is the ~\Views\Common\List.cshtml</h3>
    </div>
    @* 调用分部视图 *@
    @Html.Partial("MyPartial")
</body>
</html>
